<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Listado de los apuntados</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead style="background-color: gainsboro;">
          <tr>
            <th scope="col">Nombre niño/a</th>
            <th scope="col">Dirección</th>
            <th scope="col">Curso</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Empadronamiento</th>
            <th scope="col">Madre</th>
            <th scope="col">Padre</th>
            <th scope="col">Autorizado</th>
            <th scope="col">Solo</th>
            <th scope="col">Importe</th>
            <th scope="col">Acciones</th>

          </tr>
        </thead>
        <tbody class="bodyTable">
          <tr *ngFor="let persona of personas">
            <td>{{persona.nombre}}</td>
            <td>{{persona.direccion}}</td>
            <td>{{persona.curso}}</td>
            <td>{{persona.fechaNac}}</td>
            <td>{{persona.empadronamiento}}</td>
            <td>{{persona.nombreMadre}}<br>{{persona.dniMadre}}<br>{{persona.contactoMadre}}</td>
            <td>{{persona.nombrePadre}}<br>{{persona.dniPadre}}<br>{{persona.contactoPadre}}</td>
            <td>
              {{persona.nombreAutorizado}}<br>{{persona.parentesco}}<br>{{persona.dniAutorizado}}<br>{{persona.contactoAutorizado}}
            </td>
            <td><span *ngIf="persona.saleSolo; else noSaleSolo">SI</span> <ng-template #noSaleSolo>NO</ng-template></td>
            <td>{{persona.importe}}</td>
            <td>
              <button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>