<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Listado de los apuntados</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead style="background-color: gainsboro;">
                  <tr>
                    <th scope="col">Nombre niño/a</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Tipo de alumno</th>
                    <th scope="col">Madre</th>
                    <th scope="col">Padre</th>
                    <th scope="col">Autorizado</th>
                    <th scope="col">Solo</th>
                    <th scope="col">Importe</th>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Acciones</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let persona of personas">
                    <td>{{persona.id}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td>{{persona.direccion}}</td>
                    <td>{{persona.curso}}</td>
                    <td>
                        <button class="btn btn-warning">Editar</button>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
</div>