<form class=".form-register">
    <div class="principal">
        <label for="nombre">Nombre:</label>
        <input type="text" [(ngModel)]="persona.nombre" id="nombre" name="nombre">

        <label for="direccion">Dirección:</label>
        <input type="text" [(ngModel)]="persona.direccion" id="direccion" name="direccion">

        <div class="secundario">
            <label class="curso" for="curso">Curso:</label>
            <select id="curso" name="curso" [(ngModel)]="persona.curso">
                <option value="1º INF" selected>1º INF (3 años)</option>
                <option value="2º INF">2º INF (4 años)</option>
                <option value="3º INF">3º INF (5 años)</option>
                <option value="1º PRIM ">1º PRIM </option>
                <option value="2º PRIM">2º PRIM </option>
                <option value="3º PRIM">3º PRIM </option>
                <option value="4º PRIM">4º PRIM </option>
                <option value="5º PRIM">5º PRIM </option>
                <option value="6º PRIM">6º PRIM</option>
            </select>
            <label for="fecha-nacimiento">Fecha de nacimiento:</label>
            <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" [(ngModel)]="persona.fechaNac">
        </div>

        <div class="checkbox-group">
            <p>Marque:</p>
            <div>
                <label>
                    <input type="checkbox" name="option" value="Alumno/a CEIPSO Federico García"
                        (change)="onOptionSelected($event)"> Alumno/a CEIPSO Federico García
                </label>
                <label>
                    <input type="checkbox" name="option" value="Empadronado/a"
                        (change)="onOptionSelected($event)">Empadronado/a
                </label>
                <label>
                    <input type="checkbox" name="option" value="Otro" (change)="onOptionSelected($event)"> Otro
                </label>
            </div>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th class="header-label">Nombre y Apellidos</th>
                    <th class="header-label">DNI</th>
                    <th class="header-label" colspan="2">Contacto (Telefeno / Email)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-inputs">
                    <th>
                        <div><input type="text" id="nombreMadre" name="nombreMadre" [(ngModel)]="persona.nombreMadre"
                                placeholder="MADRE / PADRE / TUTOR"></div>
                    </th>
                    <th>
                        <div><input type="text" id="dniMadre" name="dniaMadre" [(ngModel)]="persona.dniMadre"></div>
                    </th>
                    <th colspan="2">
                        <div><input type="text" id="contactoMadre" name="contactoMadre"
                                [(ngModel)]="persona.contactoMadre"></div>
                    </th>
                </tr>
                <tr class="tr-inputs">
                    <th>
                        <div><input type="text" id="nombrePadre" name="nombrePadre" [(ngModel)]="persona.nombrePadre"
                                placeholder="PADRE / MADRE / TUTOR"></div>
                    </th>
                    <th>
                        <div><input type="text" id="dniPadre" name="dniPadre" [(ngModel)]="persona.dniPadre"></div>
                    </th>
                    <th colspan="2">
                        <div><input type="text" id="contactoPadre" name="contactoPadre"
                                [(ngModel)]="persona.contactoPadre"></div>
                    </th>
                </tr>
                <tr class="tr-inputs">
                    <th colspan="4">
                        <div><span>OTRA/S PERSONA/S AUTORIZADA/S A RECOGER AL/A MENOR</span></div>
                    </th>
                </tr>
                <tr class="tr-inputs">
                    <th>
                        <div><input type="text" id="nombreAutorizado" name="nombreAutorizado" class="valores"
                                [(ngModel)]="persona.nombreAutorizado" placeholder="NOMBRE"></div>
                    </th>
                    <th>
                        <div><input type="text" id="parentesco" name="parentesco" [(ngModel)]="persona.parentesco"
                                class="valores" placeholder="PARENTESCO"></div>
                    </th>
                    <th>
                        <div><input type="text" id="dniAutorizado" name="dniAutorizado"
                                [(ngModel)]="persona.dniAutorizado" class="valores" placeholder="DNI"></div>
                    </th>
                    <th>
                        <div><input type="text" id="contactoAutorizado" name="contactoAutorizado"
                                [(ngModel)]="persona.contactoAutorizado" class="valores" placeholder="CONTACTO"></div>
                    </th>
                </tr>
            </tbody>
        </table>

        <div>
            <label id='solo' for="saleSolo">¿Está autorizado el niño(a) para salir solo?</label>
            <input type="checkbox" id="saleSolo" name="saleSolo" [(ngModel)]="persona.saleSolo">
        </div>
        <table class="completo">
            <thead>
                <tr>
                    <th id="semana" rowspan="2" class="header-label">Semana</th>
                    <th id="turno1" class="header-label">Turno 1: 9-14h</th>
                    <th id="turno2" class="header-label">Turno 2: 7-14h</th>
                    <th id="turno3" colspan="3" class="header-label">Turno 3: 9-16:30h</th>
                    <th id="turno4" colspan="3" class="header-label">Turno 4: 7-16:30h</th>
                </tr>
                <tr>
                    <th id="col1" class="header-label">Campamento basico</th>
                    <th id="col2" class="header-label">Desayuno + C.basico</th>
                    <th id="col3" class="header-label">C.B + L</th>
                    <th id="col3" class="header-label">Comida</th>
                    <th id="col3" class="header-label">Total</th>
                    <th id="col4" class="header-label">Comida</th>
                    <th id="col4" class="header-label">D + C.B + L</th>
                    <th id="col4" class="header-label">Total</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th id="semana" class="header-label">27 junio - 1 julio</th>
                    <th id="col1" class="header-label"><label for="text">30€</label> <input type="checkbox" value="30">
                    </th>
                    <th id="col2" class="header-label"> <label for="text">45€</label> <input type="checkbox" value="45">
                    </th>
                    <th id="col3" class="header-label"> <label for="text">45€</label></th>
                    <th id="col3" class="header-label"> <label for="text">25€</label></th>
                    <th id="col3" class="header-label"> <label for="text">70€</label> <input type="checkbox" value="70">
                    </th>
                    <th id="col4" class="header-label"> <label for="text">60€</label></th>
                    <th id="col4" class="header-label"> <label for="text">25€</label></th>
                    <th id="col4" class="header-label"> <label for="text">85€</label> <input type="checkbox" value="85">
                    </th>
                </tr>
                <tr>
                    <th id="semana" class="header-label">4 - 8 julio</th>
                    <th id="col1" class="header-label"><label for="text">30€</label> <input type="checkbox" value="30">
                    </th>
                    <th id="col2" class="header-label"> <label for="text">45€</label> <input type="checkbox" value="45">
                    </th>
                    <th id="col3" class="header-label"> <label for="text">45€</label></th>
                    <th id="col3" class="header-label"> <label for="text">25€</label></th>
                    <th id="col3" class="header-label"> <label for="text">70€</label> <input type="checkbox" value="70">
                    </th>
                    <th id="col4" class="header-label"> <label for="text">60€</label></th>
                    <th id="col4" class="header-label"> <label for="text">25€</label></th>
                    <th id="col4" class="header-label"> <label for="text">85€</label> <input type="checkbox" value="85">
                    </th>
                </tr>
                <tr>
                    <th id="semana" class="header-label">11 - 15 julio</th>
                    <th id="col1" class="header-label"><label for="text">30€</label> <input type="checkbox" value="30">
                    </th>
                    <th id="col2" class="header-label"> <label for="text">45€</label> <input type="checkbox" value="45">
                    </th>
                    <th id="col3" class="header-label"> <label for="text">45€</label></th>
                    <th id="col3" class="header-label"> <label for="text">25€</label></th>
                    <th id="col3" class="header-label"> <label for="text">70€</label> <input type="checkbox" value="70">
                    </th>
                    <th id="col4" class="header-label"> <label for="text">60€</label></th>
                    <th id="col4" class="header-label"> <label for="text">25€</label></th>
                    <th id="col4" class="header-label"> <label for="text">85€</label> <input type="checkbox" value="85">
                    </th>
                </tr>
                <tr>
                    <th id="semana" class="header-label">18- 22 julio</th>
                    <th id="col1" class="header-label"><label for="text">30€</label> <input type="checkbox" value="30">
                    </th>
                    <th id="col2" class="header-label"> <label for="text">45€</label> <input type="checkbox" value="45">
                    </th>
                    <th id="col3" class="header-label"> <label for="text">45€</label></th>
                    <th id="col3" class="header-label"> <label for="text">25€</label></th>
                    <th id="col3" class="header-label"> <label for="text">70€</label> <input type="checkbox" value="70">
                    </th>
                    <th id="col4" class="header-label"> <label for="text">60€</label></th>
                    <th id="col4" class="header-label"> <label for="text">25€</label></th>
                    <th id="col4" class="header-label"> <label for="text">85€</label> <input type="checkbox" value="85">
                    </th>
                </tr>
                <tr>
                    <th id="semana" class="header-label">26 - 29 julio</th>
                    <th id="col1" class="header-label"><label for="text">24€</label> <input type="checkbox" value="24">
                    </th>
                    <th id="col2" class="header-label"> <label for="text">36€</label> <input type="checkbox" value="36">
                    </th>
                    <th id="col3" class="header-label"> <label for="text">36€</label></th>
                    <th id="col3" class="header-label"> <label for="text">20€</label></th>
                    <th id="col3" class="header-label"> <label for="text">56€</label> <input type="checkbox" value="56">
                    </th>
                    <th id="col4" class="header-label"> <label for="text">48€</label></th>
                    <th id="col4" class="header-label"> <label for="text">20€</label></th>
                    <th id="col4" class="header-label"> <label for="text">68€</label> <input type="checkbox" value="68">
                    </th>
                </tr>
                <tr>
                    <th id="semana" class="header-label">1 - 5 agosto</th>
                    <th id="col1" class="header-label"><label for="text">30€</label> <input type="checkbox" value="30">
                    </th>
                    <th id="col2" class="header-label"> <label for="text">45€</label> <input type="checkbox" value="45">
                    </th>
                    <th id="col3" class="header-label"> <label for="text">45€</label></th>
                    <th id="col3" class="header-label"> <label for="text">25€</label></th>
                    <th id="col3" class="header-label"> <label for="text">70€</label> <input type="checkbox" value="70">
                    </th>
                    <th id="col4" class="header-label"> <label for="text">60€</label></th>
                    <th id="col4" class="header-label"> <label for="text">25€</label></th>
                    <th id="col4" class="header-label"> <label for="text">85€</label> <input type="checkbox" value="85">
                    </th>
                </tr>
                <tr>
                    <th id="semana" class="header-label">8 - 12 agosto</th>
                    <th id="col1" class="header-label"><label for="text">30€</label> <input type="checkbox" value="30">
                    </th>
                    <th id="col2" class="header-label"> <label for="text">45€</label> <input type="checkbox" value="45">
                    </th>
                    <th id="col3" class="header-label"> <label for="text">45€</label></th>
                    <th id="col3" class="header-label"> <label for="text">25€</label></th>
                    <th id="col3" class="header-label"> <label for="text">70€</label> <input type="checkbox" value="70">
                    </th>
                    <th id="col4" class="header-label"> <label for="text">60€</label></th>
                    <th id="col4" class="header-label"> <label for="text">25€</label></th>
                    <th id="col4" class="header-label"> <label for="text">85€</label> <input type="checkbox" value="85">
                    </th>
                </tr>
                <tr>
                    <th id="semana" class="header-label">16 - 19 agosto</th>
                    <th id="col1" class="header-label"><label for="text">24€</label> <input type="checkbox" value="30">
                    </th>
                    <th id="col2" class="header-label"> <label for="text">36€</label> <input type="checkbox" value="36">
                    </th>
                    <th id="col3" class="header-label"> <label for="text">36€</label></th>
                    <th id="col3" class="header-label"> <label for="text">20€</label></th>
                    <th id="col3" class="header-label"> <label for="text">56€</label> <input type="checkbox" value="56">
                    </th>
                    <th id="col4" class="header-label"> <label for="text">48€</label></th>
                    <th id="col4" class="header-label"> <label for="text">20€</label></th>
                    <th id="col4" class="header-label"> <label for="text">68€</label> <input type="checkbox" value="68">
                    </th>
                </tr>
                <tr>
                    <th id="semana" class="header-label">22 - 26 agosto</th>
                    <th id="col1" class="header-label"><label for="text">30€</label> <input type="checkbox" value="30">
                    </th>
                    <th id="col2" class="header-label"> <label for="text">45€</label> <input type="checkbox" value="45">
                    </th>
                    <th id="col3" class="header-label"> <label for="text">45€</label></th>
                    <th id="col3" class="header-label"> <label for="text">25€</label></th>
                    <th id="col3" class="header-label"> <label for="text">70€</label> <input type="checkbox" value="70">
                    </th>
                    <th id="col4" class="header-label"> <label for="text">60€</label></th>
                    <th id="col4" class="header-label"> <label for="text">25€</label></th>
                    <th id="col4" class="header-label"> <label for="text">85€</label> <input type="checkbox" value="85">
                    </th>
                </tr>
                <tr>
                    <th id="semana" class="header-label">29 - 31 agosto</th>
                    <th id="col1" class="header-label"><label for="text">18€</label> <input type="checkbox" value="18">
                    </th>
                    <th id="col2" class="header-label"> <label for="text">27€</label> <input type="checkbox" value="27">
                    </th>
                    <th id="col3" class="header-label"> <label for="text">27€</label></th>
                    <th id="col3" class="header-label"> <label for="text">15€</label></th>
                    <th id="col3" class="header-label"> <label for="text">42€</label> <input type="checkbox" value="42">
                    </th>
                    <th id="col4" class="header-label"> <label for="text">36€</label></th>
                    <th id="col4" class="header-label"> <label for="text">15€</label></th>
                    <th id="col4" class="header-label"> <label for="text">51€</label> <input type="checkbox" value="51">
                    </th>
                </tr>
                <tr id="pieTabla">
                    <th colspan="3" class="header-label">DESCUENTO 50%</th>
                    <th colspan="3" class="header-label"><label for="text">Familia Numerosa</label> <input
                            type="checkbox" id="familiaNumerosa" value="2"></th>
                    <th colspan="3" class="header-label"> <label for="text">Discapacidad > 33% </label> <input
                            type="checkbox" id="discapacidad" value="2"></th>
                </tr>
                <tr id="pieTabla">
                    <th colspan="5" class="header-label"><button class="boton">IMPORTE TOTAL</button>
                    </th>
                    <th colspan="4" class="header-label">
                        <p>TOTAL: <span id="resultado"></span>€</p>
                    </th>
                </tr>
            </tbody>
        </table>

        <div id="tituloBancario">
            <h4>DATOS BANCARIOS</h4>
        </div>

        <div class="datosCuenta">
            <label for="nombre">Titular:</label>
            <input type="text" id="nombre" name="titularCuenta" [(ngModel)]="persona.titularCuenta">

            <label for="direccion">NIF/NIE:</label>
            <input type="text" id="direccion" name="nieTitular" [(ngModel)]="persona.nieTitular">
        </div>

        <div class="numeroCuenta">
            <label for="iban">IBAN:</label>
            <input type="text" id="iban" name="es" maxlength="4" value="ES" [(ngModel)]="persona.es">

            <label for="entidad">Entidad:</label>
            <input type="text" id="entidad" name="iban" maxlength="4" [(ngModel)]="persona.iban">

            <label for="oficina">Oficina:</label>
            <input type="text" id="oficina" name="oficina" maxlength="4" [(ngModel)]="persona.oficina">

            <label for="dc">DC:</label>
            <input type="text" id="dc" name="dc" maxlength="2" [(ngModel)]="persona.dc">

            <label for="cuenta">Cuenta:</label>
            <input type="text" id="cuenta" name="cuenta" maxlength="10" [(ngModel)]="persona.cuenta">
        </div>
    </div>
    <label id='piscina' for="piscina">Piscina:</label>
    <input type="checkbox" id="piscina" name="piscina" [(ngModel)]="persona.piscina">

    <br>

    <label id='nadar' for="nadar">Sabe nadar:</label>
    <input type="checkbox" id="nadar" name="nadar" [(ngModel)]="persona.nadar">

    <br>

    <label id='nadar' for="imagenes">Imágenes:</label>
    <input type="checkbox" id="imagenes" name="imagenes" [(ngModel)]="persona.imagenes">

    <br>

    <div class="booton">
        <button class="btn btn-success" (click)="Guardar(persona)"> Agregar </button>
    </div>
</form>